<!DOCTYPE html>
<html lang="ja">
  <body>
    <head>
      <meta charset="utf-8">
      <title>レシピ一覧</title>
      <meta name="description" content="家事代行サービス"
    </head>
    <div class="big-bg3">
      <header class="page-header wrapper">
        <h1><a href="/posts"><img class="logo" src="../assets/familelogo3.jpg" alt="ふぁみれロゴ"></a>
        </h1>
        <nav>
          <ul class="main-nav">
              <li><a href="/posts">TOP</a></li>
              <li><a href="/posts/new">新着情報</a></li>
              <li><a href="/posts/recipe">レシピ紹介</a></li>
              <li><a href="/contacts/new">お問い合わせ</a></li>
          </ul>
        </nav>
      </header>

      <div class="menu-content wrapper">
        <h2 class="page-title">レシピ一覧</h2>
        <p>
            管理栄養士の視点からご家族にあったお食事を提供します。<br>
            ここに掲載のレシピは実際に提供したレシピです。
        </p>
      </div><!-- /.menu-content -->
    </div>

    <div class="wrapper grid">
      <div class="item big-box">
        <img class="qr" src="../assets/ryouri7.jpg" alt="">
        <p>作り置き１<br>3日分の作り置きです。<br>お客様のご要望でお野菜を中心とした作り置きになっています。<br>また、お野菜嫌いなお子様のためにお野菜をミキサーで砕きわからないように工夫をしています。
        </p>
      </div>
      <div class="item">
        <img src="../assets/ryouri6.jpg" alt="">
        <p>作り置き２</p>
      </div>
      <div class="item">
        <img src="../assets/ryouri8.jpg" alt="">
        <p>作り置き3</p>
      </div>
      <div class="item">
        <img src="../assets/ryouri4.jpg" alt="">
        <p>キャラ弁</p>
      </div>
      <div class="item">
        <img src="../assets/ryouri5.png" alt="">
        <p>夕食</p>
      </div>
    </div><!-- /.grid -->
    <footer>
      <div class="wrapper">
        <p><small>family recipe</small></p>
      </div>
    </footer>
  </body>
</html>