.big-bg4
  %header.page-header.wrapper
    %h1
      %a{:href => "/posts"}
        %img.logo{:alt => "ふぁみれロゴ", :src => "../assets/familelogo3.jpg"}/
    %nav
      %ul.main-nav
        %li
          %a{:href => "/posts"} TOP
        %li
          %a{:href => "/posts/servise"} Servise
        %li
          %a{:href => "/posts/new"} NEW
        %li
          %a{:href => "/recipes"} RECIPE
      %i.fa.fa-chevron-circle-up{"aria-hidden" => "true", style: "font-size: 60px;"}
  %h2.page-title CONTACT
  %p.contact-text family recipeをご覧頂きましてありがとうございます。
  %p.contact-text お問い合わせやご予約はfamily recipeのLINE公式アカウントから受付ております。
  .click-box
    .first-letter family recipe
    .second-letter LINE公式アカウント
    %a{:href => "https://lin.ee/qcoOitI"}
      %img{:border => "0", :height => "65", :src => "https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"}/