!!!
%html{:lang => "ja"}
  %body
    %meta{:charset => "utf-8"}/
    %title Familyrecipe
    %meta{:content => "家事代行サービス", :name => "description"}/
    .big-bg2
      %header.page-header.wrapper
        %h1
          %a{:href => "/posts"}
            %img.logo{:alt => "ふぁみれロゴ", :src => "../assets/familelogo3.jpg"}/
      .wrapper
        %h2.page-title ファミリーレシピ（ふぁみれ）
      .news-contents.wrapper
        %article.famile
          .post-info
            %h2.post-title 家事代行サービス
          %img{:alt => "料理教室の様子", :clas => "famileimg", :src => "../assets/kajidaikou"}/
          %p.familemoji
            Familyrecipeは大野城市、春日市の方を対象に
            料理代行サービスをさせていただきます。
            %br/
            育児やお仕事で忙しく毎日の食事に満足されていますか。
            %br/
            お子様やご家族の食事・健康が気になる..
            料理があまり得意ではない..
            %br/
            仕事、育児で忙しく、食事に気を使えていない..
            そんなお悩みをあなたへ。
            %br/
            ご自宅に伺い、料理代行サービスをさせていただいております。買い物代行や料理教室などのオプションもあります。
            %br/
            ２月は10名様限定でモニターを募集中です。
            %br/
            (先着10名様で終了とさせていただきますのでご了承ください)
            %br/
            下記の写真は食事の作り置きのイメージです、１回で3日分で作り置きをさせていただきます。
            %br/
          .wrapper.grid
            .item
              %img{:alt => "", :src => "../assets/ryouri6.jpg"}/
              %p 作り置き２
            .item
              %img{:alt => "", :src => "../assets/ryouri8.jpg"}/
              %p 作り置き3
            .item
              %img{:alt => "", :src => "../assets/ryouri4.jpg"}/
              %p キャラ弁
            .item
              %img{:alt => "", :src => "../assets/ryouri6.jpg"}/
              %p 作り置き２
            .item
              %img{:alt => "", :src => "../assets/ryouri8.jpg"}/
              %p 作り置き3
            .item
              %img{:alt => "", :src => "../assets/ryouri4.jpg"}/
              %p キャラ弁
          / /.grid
          %p.familemoji
            料理に不安をお持ちの方は一緒に料理をさせていただき、料理アドバイスもさせていただきます。
            %br/
            管理栄養士の観点からご家族の食事の提案をさせていただきます。
            ○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○
            %br/
            ○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○
            %br/
            そんな忙しいお父さん、お母さんに安心してご利用いただけます。
          %br/
          %br/
          %p 忙しいあなたへ。家族の美味しい笑顔をお届けします。Family recipe。
        %aside
          %ul.sub-menu
            %li
              %a{:href => "/posts"} TOP
            %li
              %a{:href => "/posts/new"} 新着情報
            %li
              %a{:href => "/posts/recipe"} レシピ紹介
            %li
              %a{:href => "/posts/contact"} お問い合わせ
            %li
              %a{:href => "/posts/show"} Instaglam
      / /.news-contents
      %footer
        .wrapper
          %p
            %small family recipe
