<!DOCTYPE html>
<html lang="ja">
  <body>
    <head>
      <meta charset="utf-8">
      <title>Familyrecipe</title>
      <meta name="description" content="家事代行サービス"
    </head>
    <div class="big-bg2">
      <header class="page-header wrapper">
        <h1><a href="/posts"><img class="logo" src="../assets/familelogo3.jpg" alt="ふぁみれロゴ"></a></h1>
      </header>
      <div class="wrapper">
        <h2 class="page-title">ファミリーレシピ（ふぁみれ）</h2>
      </div>
      <div class="news-contents wrapper">
        <article class=famile>
          <div class="post-info">
            <h2 class="post-title">家事代行サービス</h2>
          </div>
          <img src="../assets/kajidaikou" alt="料理教室の様子" clas="famileimg">
          <p class="familemoji">
              Familyrecipeは大野城市、春日市の方を対象に
              料理代行サービスをさせていただきます。<br>
              育児やお仕事で忙しく毎日の食事に満足されていますか。<br>
              お子様やご家族の食事・健康が気になる..
              料理があまり得意ではない..<br>
              仕事、育児で忙しく、食事に気を使えていない..
              そんなお悩みをあなたへ。<br>
              ご自宅に伺い、料理代行サービスをさせていただいております。買い物代行や料理教室などのオプションもあります。<br>
              ２月は10名様限定でモニターを募集中です。<br>
              (先着10名様で終了とさせていただきますのでご了承ください)<br>
              下記の写真は食事の作り置きのイメージです、１回で3日分で作り置きをさせていただきます。<br>
              
              
          </p>
          <div class="wrapper grid">
      
      <div class="item">
        <img src="../assets/ryouri6.jpg" alt="">
        <p>作り置き２</p>
      </div>
      <div class="item">
        <img src="../assets/ryouri8.jpg" alt="">
        <p>作り置き3</p>
      </div>
      <div class="item">
        <img src="../assets/ryouri4.jpg" alt="">
        <p>キャラ弁</p>
      </div>
      <div class="item">
        <img src="../assets/ryouri6.jpg" alt="">
        <p>作り置き２</p>
      </div>
      <div class="item">
        <img src="../assets/ryouri8.jpg" alt="">
        <p>作り置き3</p>
      </div>
      <div class="item">
        <img src="../assets/ryouri4.jpg" alt="">
        <p>キャラ弁</p>
      </div>
    </div><!-- /.grid -->
     <p class="familemoji">
              料理に不安をお持ちの方は一緒に料理をさせていただき、料理アドバイスもさせていただきます。<br>
              管理栄養士の観点からご家族の食事の提案をさせていただきます。
              ○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○<br>
              ○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○<br>
              そんな忙しいお父さん、お母さんに安心してご利用いただけます。
          </p><br><br>
          <p>忙しいあなたへ。家族の美味しい笑顔をお届けします。Family recipe。</p>
        </article>
        <aside>
          <ul class="sub-menu">
            <li><a href="/posts">TOP</a></li>
            <li><a href="/posts/new">新着情報</a></li>
            <li><a href="/posts/recipe">レシピ紹介</a></li>
            <li><a href="/posts/contact">お問い合わせ</a></li>
            <li><a href="/posts/show">Instaglam</a></li>
          </ul>
        </aside>

      </div><!-- /.news-contents -->
      <footer>
        <div class="wrapper">
          <p><small>family recipe</small></p>
        </div>
      </footer>
    </div>
  </body>
</html>