!!!
%html{:lang => "ja"}
  %head
    %meta{:charset => "utf-8"}/
    %title Familyrecipe
    %meta{:content => "家事代行サービス", :name => "description"}/
  %body
  .wrap
    .big-bg2
      %header.page-header.wrapper
        %h1
          %a{:href => "/posts"}
            %img.logo{:alt => "ふぁみれロゴ", :src => "../assets/familelogo3.jpg"}/
      .wrapper
        %h2.page-title Family recipe（ふぁみれ）
      .banner
        Servise
      .news-contents.wrapper
        
        %article.famile
          .post-info
            %h2.post-title 家事代行サービス
          %img{:alt => "料理教室の様子", :clas => "famileimg", :src => "../assets/kajidaikou"}/
          .main-title
            ママの皆さん、
            %br/
            こんなお悩みありませんか？
          .main-image
            %img{:alt => "お悩み画像", :clas => "onaymai", :src => "../assets/こんなお悩みありませんか？"}/
          .main-sentence
            妊娠、出産、子育て、仕事復帰と、
            %br/
            %br/
            ライフステージの変化が忙しいママ。
            %br/
            %br/
            食事作りの悩みや苦労を抱えているママも多いはず。
            %br/
            %br/
            その反面、
            %br/
            %br/
            「もっと笑顔で家族と過ごしたい」
            %br/
            %br/
            「たまには自分の時間がほしい・・」
            %br/
            %br/
            というのもママの本音。
            %br/
            %br/
            まずは、ママ自身のココロとカラダを
            %br/
            %br
            温めるところから始めてみませんか？
            %br/
            %br/
          .main-title2
            ママに寄り添い、笑顔を増やすことで
            %br/
            家族も笑顔になれる時間を増やしたい。
            %br/
            %br
          .main-sentence2
            そんな想いを込めた、
            %br/
            %br/
            完全オーダーメイドの作り置き料理代行サービスです。
            %br/
  
          .service
            .service__big
              Servise
            .service__small
              サービス一覧

          .service-content
            ライフステージに合わせて必要な栄養や、
            %br/
            %br/
            あなたのお悩みに寄り添った
            %br/
            %br/
            オーダーメイドの作り置きご飯をお作りしましす。
          .wrapper.grid
            .item
              %img{:alt => "", :src => "../assets/ryouri6.jpg"}/
              %p.cook-title 作り置き２
            .item
              %img{:alt => "", :src => "../assets/ryouri8.jpg"}/
              %p.cook-title 作り置き3
            .item
              %img{:alt => "", :src => "../assets/ryouri4.jpg"}/
              %p.cook-title キャラ弁
            .item
              %img{:alt => "", :src => "../assets/ryouri6.jpg"}/
              %p.cook-title 作り置き２
            .item
              %img{:alt => "", :src => "../assets/ryouri8.jpg"}/
              %p.cook-title 作り置き3
            .item
              %img{:alt => "", :src => "../assets/ryouri4.jpg"}/
              %p.cook-title キャラ弁
          %p.familemoji
            料理に不安をお持ちの方は一緒に料理をさせていただき、料理アドバイスもさせていただきます。
            %br/
            管理栄養士の観点からご家族の食事の提案をさせていただきます。
            %br/
            そんな忙しいお父さん、お母さんに安心してご利用いただけます。
          %br/
          %br/
          %p 忙しいあなたへ。家族の美味しい笑顔をお届けします。Family recipe。
        %aside.sub
          %ul.sub-menu
            %li
              %a{:href => "/posts"} TOP
            %li
              %a{:href => "/posts/new"} 新着情報
            %li
              %a{:href => "/posts/recipe"} レシピ紹介
            %li
              %a{:href => "/contacts/new"} お問い合わせ
            %li
              %a{:href => "/posts/show"} Instaglam
        
      %footer
        .wrapper
          %p
            %small family recipe
