<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>family recipe</title>
    <meta name="description" content="家事代行サービス"
  </head>
  <body>
    <div id="home" class="big-bg">
      <header class="page-header wrapper">
        <h1><a href="/posts"><img class="logo" src="../assets/familelogo3.jpg" alt="ふぁみれロゴ"></a></h1>
        <nav>
          <ul class="main-nav">
            <li><a href="/posts">TOP</a></li>
            <li><a href="posts/new">新着情報</a></li>
            <li><a href="posts/recipe">レシピ紹介</a></li>
            <li><a href="/posts/contact">お問い合わせ</a></li>
          </ul>
        </nav>
      </header>

      <div class="home-content wrapper">
        <h2 class="page-title">Family recipe</h2>
        <p>育児、家事、お仕事で忙しいみなさまへ。<br>家族の美味しい笑顔をお届けします。</p>
        <!--<a class="button" href="menu.html">Family recipe</a>-->
      </div>
    </div>
  </body>
</html>