!!!
%html{:lang => "ja"}
  %body
    %meta{:charset => "utf-8"}/
    %title 新着情報
    %meta{:content => "家事代行サービス", :name => "description"}/
    .big-bg2
      %header.page-header.wrapper
        %h1
          %a{:href => "/posts"}
            %img.logo{:alt => "ふぁみれロゴ", :src => "../assets/familelogo3.jpg"}/
        %nav
          %ul.main-nav
            %li
              %a{:href => "/posts"} TOP
            %li
              %a{:href => "/posts/new"} 新着情報
            %li
              %a{:href => "/posts/recipe"} レシピ紹介
            %li
              %a{:href => "/contacts/new"} お問い合わせ
      .wrapper
        %h2.page-title 新着情報
      .news-contents.wrapper
        %article
          %header.post-info
            %h2.post-title 4月1日料理教室開催します！
            %p.post-date
              3/30
              %span 2019
            %p.post-cat カテゴリー：料理教室
          %img{:alt => "料理教室の様子", :src => "../assets/ryourikyousitu"}/
          %p
            4月1日に好評につき料理教室を開催することになりました！！
            %br/
            通常は料理代行の際に料理のアドバイス等をさせていただいてますが、先月開催した料理教室で反響をいただきまして二回目の開催を実施する運びとなりました。
            %br/
            先着５名の方を募集したいと思いますのでご興味・ご関心のある方は下記のアメブロ、LINE、インスタよりダイレクトメッセージをお送り下さいませ。
            %br/
            上記の写真は先月開催した料理教室の様子です。
          %p 忙しいあなたへ。家族の美味しい笑顔をお届けします。Family recipe。
        %aside
          %h3.sub-title カテゴリー
          %ul.sub-menu
            %li
              %a{:href => "/posts/show"} Instagram
            %li
              %a{:href => "#"} 料理教室
            %li
              %a{:href => "#"} イベント
            %li
              %a{:href => "#"} その他
      / /.news-contents
      %footer
        .wrapper
          %p
            %small family recipe
