!!!
%html{:lang => "ja"}
  %head
    %meta{:charset => "utf-8"}/
    %title Familyrecipe
    %meta{:content => "家事代行サービス", :name => "description"}/
  %body
    
    .big-bg2
      %header.page-header.wrapper
        %h1
          %a{:href => "/posts"}
            %img.logo{:alt => "ふぁみれロゴ", :src => "../assets/familelogo3.jpg"}/
      .wrapper
        %h2.page-title Family recipe（ふぁみれ）
      %aside.sub
        %ul.sub-menu
          %li
            %a{:href => "/posts"} TOP
          %li
            %a{:href => "/posts/new"} NEW
          %li
            %a{:href => "/recipes"} RECIPE
          %li
            %a{:href => "/contacts/new"} CONTACT
      .small-sub
        %ul.small-sub-menu
          %li
            %a{:href => "/posts"} TOP
          %li
            %a{:href => "/posts/new"} NEW
          %li
            %a{:href => "/posts/recipe"} RECIPE
          %li
            %a{:href => "/contacts/new"} CONTACT
      %i.fa.fa-chevron-circle-up{"aria-hidden" => "true", style: "font-size: 60px;"}

      .banner
        %a{:href => "#1"} Servise

      
      
      .news-contents.wrapper
        
        
        %article.famile
          .post-info
            %h2.post-title 家事代行サービス
          %img{:alt => "料理教室の様子", :clas => "famileimg", :src => "../assets/image.jpeg"}/
          .main-title
            ママの皆さん、
            %br/
            こんなお悩みありませんか？
          .main-image
            %img{:alt => "お悩み画像", :clas => "onaymai", :src => "../assets/こんなお悩みありませんか？"}/
          .main-sentence
            妊娠、出産、子育て、仕事復帰と、
            %br/
            %br/
            ライフステージの変化が忙しいママ。
            %br/
            %br/
            食事作りの悩みや苦労を抱えているママも多いはず。
            %br/
            %br/
            その反面、
            %br/
            %br/
            「もっと笑顔で家族と過ごしたい」
            %br/
            %br/
            「たまには自分の時間がほしい・・」
            %br/
            %br/
            というのもママの本音。
            %br/
            %br/
            まずは、ママ自身のココロとカラダを
            %br/
            %br
            温めるところから始めてみませんか？
            %br/
            %br/
          .main-title2
            ママに寄り添い、笑顔を増やすことで
            %br/
            家族も笑顔になれる時間を増やしたい。
            %br/
            %br
          .main-sentence2
            そんな想いを込めた、
            %br/
            %br/
            完全オーダーメイドの作り置き料理代行サービスです。
            %br/
  
          .service{id: "#{1}"}
            .service__big
              Servise
            .service__small
              サービス一覧

          .service-content
            ライフステージに合わせて必要な栄養や、
            %br/
            %br/
            あなたのお悩みに寄り添った
            %br/
            %br/
            オーダーメイドの作り置きご飯をお作りしましす。
          .wrapper.grid
            .item
              %img{:alt => "", :src => "../assets/minako-cook5.jpg"}/
              %p.cook-title お子様に大人気！アンパンマンピザ★
            .item
              %img{:alt => "", :src => "../assets/minako-cook6.JPG"}/
              %p.cook-title お弁当
            .item
              %img{:alt => "", :src => "../assets/minako-cook3.JPG"}/
              %p.cook-title ピクニックのレシピ
            .item
              %img{:alt => "", :src => "../assets/chird.JPG"}/
              %p.cook-title 子どもの栄養相談
            .item
              %img{:alt => "", :src => "../assets/minako-cook.jpg"}/
              %p.cook-title 作り置き
            .item
              %img{:alt => "", :src => "../assets/minako-cook2.JPG"}/
              %p.cook-title 作り置き
          %p.familemoji
            料理に不安をお持ちの方は一緒に料理をさせていただき、料理アドバイスもさせていただきます。
            %br/
            管理栄養士の観点からご家族の食事の提案をさせていただきます。
            %br/
            そんな忙しいお父さん、お母さんに安心してご利用いただけます。
          %br/
          %br/
          %p 忙しいあなたへ。家族の美味しい笑顔をお届けします。Family recipe。
        
        
      %footer
        .wrapper
          %p
            %small family recipe
