<!DOCTYPE html>
<html lang="ja">
  <body>
    <div class="big-bg5">
      <header class="page-header wrapper">
        <h1><a href="/posts"><img class="logo" src="../assets/familelogo3.jpg" alt="ふぁみれロゴ"></a></h1>
          <nav>
            <ul class="main-nav">
                <li><a href="/posts">TOP</a></li>
                <li><a href="/posts/new">新着情報</a></li>
                <li><a href="/posts/recipe">レシピ紹介</a></li>
                <li><a href="/posts/contact">お問い合わせ</a></li>
            </ul>
          </nav>
      </header>
      <section id="sns">
        <div class="wrapper">
          <div class="sns-box">
            <h3 class="show-title"> Instagrm</h3>
            <p>毎日更新中です♪是非ご覧ください</p>
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-3c87b4aa-3f4c-4a9c-8bf4-809a399861ab">
            </div>
          </div>
          <p class="show-tyui">※上記の”Free Instagram Feed widget"というボタンはインスタグラムの広告です。</p><br><br>
        </div><!-- /.wrapper -->
      </section><!-- /#sns -->
      <p class="show-otoiawase">LINEとInstagramのQRコードはこちら↓↓</p>
      <img src="../assets/QR" alt="料理教室の様子"class="show-images">
      <footer>
        <div class="wrapper">
          <p><small>family recipe</small></p>
        </div>
      </footer>
    </div>
  </body>