/* recipes/new.html.erb
------------------------------- */
.big-bg3 {
  background-image: url(../assets/menu-bg.jpg);
  min-height: 100vh;
}
.menu-content {
  max-width: 560px;
  margin-top: 10%;
}
.menu-content .page-title {
  text-align: center;
}
.menu-content p {
  font-size: 1.125rem;
  margin: 10px 0 0;
}
.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 6%;
  margin-bottom: 50px;
}
.big-box {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}






