.main-title{
  color:pink;
  font-size: 40px;
  margin: 26.56px 0px 26.56px 120px;

}
.main-title2{
  color:pink;
  font-size: 40px;
  margin: 26.56px 0px 26.56px 120px;

}
.main-image{
  margin-left: 90px;

}
.main-sentence{
  // margin: 26.56px 0px 26.56px 120px;
  margin-right: 90px;
  margin-bottom: 50px;
  margin-top: 30px;
  font-size: 18px;
  text-align: center;

}
.main-sentence2{
  margin-right: 90px;
  margin-bottom: 120px;
  font-size: 18px;
  text-align: center;

}
.service{
  background-color: #FAEAE9;
  margin-bottom: 30px;

  height: 128px;
  width: 100%;
  &__big{
    text-align: center;
    font-size: 40px;
    margin: 0 0 10px;


  }
  &__small{
    font-size: 18px;
    text-align: center;
  }
}
.service-content{
  font-size: 17px;
  text-align: center;
}

.banner a:hover{
  color: #0bd;
}
.banner a{
  color: #432;
  margin: 0 265px;
  font-size: 20px;
  height: 25px;
  text-decoration: underline;
}

.famile{
  width: 100%;
}
.famile img {
  margin-bottom: 20px;

}
.familemoji{
  font-size: 18px;
  line-height: 42px;
}
.fa-chevron-circle-up{
  // display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: #0bd;
}

@media (max-width: 600px){
  body{
    margin: 0;
  }
  .big-bg2{
    height: 200px;
  }
  .wrapper{
    padding: 0px 4% 10px;
  }
  .page-header{
    margin-top: 0px;
  }
  .page-title{
    font-size: 20px;
    margin:0;
  }
  .post-title{
    text-align: center;
    font-size: 20px;
    text-align: center;
    margin: 0;
  }

  .banner a {
    margin: 10px;
    font-size: 15px;
  }

  .main-title{
    font-size: 30px;
    margin:10px;
  }
  .main-image{
    margin: 10px;
  }
  .main-sentence{
    font-size: 18px;
    text-align: center;
    margin: 10px;
  
  }
  .main-title2{
    font-size: 26px;
    margin:10px;
  }
  .main-sentence2{
    margin: 10px;
    font-size: 18px;
    text-align: center;
  
  }
  .grid {
    display: grid;
    gap: 26px;
    grid-template-columns: 1fr;
    margin-top: 6%;
    margin-bottom: 50px;
  }
  .cook-title {
    margin-bottom: 0px;
    text-align: center;
    font-size: 25px;
  }
  .familemoji{
    font-size: 17px;
    line-height: 42px;
  }
  .sub{
    display: none;

  }
  // .small-sub{
  //   margin-top: 37px;
  // }
  .small-sub-menu {
    display: flex;
    padding: 0 0;
    margin: 0px 28px 27px;
    font-size: 12px;
  }

  .small-sub-menu a{
    color: white;
    padding: 10px 10px;
    background: #0bd;
    border-radius: 5px;
    font-size: 10px;
    
  }
  .small-sub-menu li{
    padding: 10px 5px;
  }
   
    
  
  .small-sub-menu a:hover{
    color: #0bd;
  }
  // 矢印
  .fa-chevron-circle-up{
    display: block;
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: #0bd;
  }

}

